.navbar{
    height: 9em;
    width: 100%;
    top: 0px;

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 25px;

    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 100;

    color: var(--navbarText);
    background: linear-gradient(180deg, var(--primary) 0%, rgba(255,255,2550, 0) 100%);
}

.issueDiv{
    position: relative;
    display: flex;
    justify-content: center;

    color: var(--navbarText);
}

.navImg{
    height: 54px;
    padding: 5px;
}

.menuFiller{
    width: 250px;
}

.dropdownButton {
    border: none;
    background: none;
    border-radius: 5px;
    font-size: 20px;
    width: 250px;
    height: 49px;

    text-align: center;
    text-decoration: underline;
    text-underline-offset: 6px;

    color: var(--navbarText);
}
.closed{
    color: var(--navbarText);
}

.dropdownButton:hover {
    background-color: white;
    color: var(--primary);
}
.open{
    background-color: white;
    color: var(--primary);
}

.dropdownItems{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;

    top: 43px;
    padding-bottom: 2rem;
    border-radius: 5px;
    width: 250px;
    
    background-color: white;
    color: black;
}

.dropdownItemsButton {
    width: 100%;
    padding-left: 25px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: none;
    background: none;
    text-align: left;
    color: var(--primary);
}

.bold{
    font-weight: 600;
}

.dropdownItemsButton:hover {
    color: white;
    background-color: var(--primary);
}


.issueTitle{
    font-size: 20px;
    line-height: 60px;
    padding-left: 20px;

    text-align: center;
    vertical-align:middle;
    position: absolute;
}

.menuDiv{
    padding-right: 10px;

    display: flex;
    justify-content: center;
}

/* Tablet Styling */
@media (max-width: 900px) and (orientation: portrait){
  
}
@media (max-width: 1200px) and (orientation: landscape){
    
}

/*Phone Styling*/
@media (max-width: 430px) and (orientation: portrait){
    .navbar{
        height: 5em;
        padding-top: 10px;
    }
    .dropdownButton{
        width: 200px;
        height: 50px;
        font-size: 17px;
    }
    .menuFiller{
        width: 200px;
    }
    .dropdownItems{
        width: 200px;
        top: 44px;
        padding-bottom: 10px;
    }
    .dropdownItemsButton{
        font-size: 17px;
        padding-left: 12px;
    }
    .navImg{
        display: none;
    }
  
}
@media (max-width: 900px) and (orientation: landscape){
    .navbar{
        height: 5em;
        padding-top: 10px;
    }
    .dropdownButton{
        width: 200px;
        height: 50px;
        font-size: 17px;
    }
    .menuFiller{
        width: 200px;
    }
    .dropdownItems{
        width: 200px;
        top: 44px;
        padding-bottom: 10px;
    }
    .dropdownItemsButton{
        font-size: 17px;
        padding-left: 12px;
    }
    .navImg{
        height: 45px;
        padding-top: 10px;
    }
}

