.navbar{
    height: 90px;
    width: 100%;
    top: 0px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 20px;

    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 100;

    color: var(--navbarText);
    background: linear-gradient(180deg, var(--primary) 0%, rgba(255,255,2550, 0) 100%);
}

.issueDiv{

    position: relative;
    display: flex;
    justify-content: center;

    color: var(--navbarText);
}

.dropdownButton {
    border: none;
    background: none;
    border-radius: 5px;
    font-size: 20px;
    width: 250px;
    height: 60px;

    text-align: center;
    text-decoration: underline;
    text-underline-offset: 6px;

    color: var(--navbarText);
}
.closed{
    color: var(--navbarText);
}

.dropdownButton:hover {
    background-color: white;
    color: var(--primary);
}
.open{
    background-color: white;
    color: var(--primary);
}


.dropdownItems{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;

    top: 80%;
    padding-bottom: 2rem;
    border-radius: 5px;
    width: 250px;
    
    background-color: white;
    color: black;
}

.dropdownItemsButton {
    width: 100%;
    padding-left: 25px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: none;
    background: none;
    text-align: left;
    color: var(--primary);
}

.bold{
    font-weight: 600;
}

.dropdownItemsButton:hover {
    color: white;
    background-color: var(--primary);
}


.issueTitle{
    font-size: 20px;
    line-height: 60px;
    padding-left: 20px;

    text-align: center;
    vertical-align:middle;
    position: absolute;
}

.logoDiv{
}

.menuDiv{
    padding-right: 10px;

    display: flex;
    justify-content: center;
}

