.navbar{
    height: 9em;
    width: 100%;
    top: 0px;

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 25px;

    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 100;

    color: var(--navbarText);
    background: linear-gradient(180deg, var(--primary) 0%, rgba(255,255,2550, 0) 85%);
}

.issueDiv{
    position: relative;
    display: flex;
    justify-content: center;

    color: var(--navbarText);
}
.logoDiv{
    width: 150px;
    position: absolute;

    margin-right: auto;
    margin-left: auto;

    left: 0;
    right: 0;

    top: 15px;
}

.navImg{
    height: 80px;
    padding: 5px;

    display: flex;
}

.menuFiller{
    width: 250px;
}

.dropdownButton {
    padding: 0px;
    border: none;
    background: none;
    border-radius: 5px;
    font-size: 20px;
    width: max-content;
    height: 57px;
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-bottom: 5px;
    
    font-family: HelveticaTitle;
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 6px;
    cursor: pointer;

    color: var(--navbarText);
}

.seasonSpan{
    font-family: Bookmania;
}

.dropdownButton:hover {
    background-color: white;
    color: var(--primary);
}
.closed{
    color: var(--navbarText);
}
.open{
    background-color: white;
    color: var(--primary);
}

.dropdownItems{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;

    top: 43px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: 5px;
    width: 100%;

    background-color: white;
    color: black;
}

.dropdownItemsButton {
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    cursor: pointer;
    border: none;
    background: none;
    text-align: left;
    color: var(--primary);
}

.bold{
    font-weight: 600;
}
.articleBold{
    font-size: 20px;
}
.dropdownItemsButton:hover {
    color: white;
    background-color: var(--primary);
}

.issueTitle{
    font-size: 20px;
    line-height: 60px;
    padding-left: 20px;

    text-align: center;
    vertical-align:middle;
    position: absolute;
}

.menuDiv{
    padding-right: 10px;

    display: flex;
    justify-content: center;
}

/* Tablet Styling */
@media (max-width: 900px) and (orientation: portrait){
    .navbar{
        background: linear-gradient(180deg, var(--primary) 0%, rgba(255,255,2550, 0) 100%);
    }
    .navImg{
        height: 58px;
    }
}
@media (max-width: 1200px) and (orientation: landscape){
    .navbar{
        background: linear-gradient(180deg, var(--primary) 0%, rgba(255,255,2550, 0) 100%);
    }
    .navImg{
        height: 58px;
    }
}

/*Phone Styling*/
@media (max-width: 430px) and (orientation: portrait){
    .navbar{
        height: 5em;
        padding-top: 16px;
    }
    .dropdownButton{
        width: 220px;
        height: 50px;
        font-size: 17px;
    }
    .dropdownItems{
        width: 220px;
        top: 44px;
        padding-bottom: 10px;
    }
    .menuFiller{
        width: 220px;
    }
    .dropdownItemsButton{
        font-size: 17px;
    }
    .navImg{
        display: none;
    }
    .issueBold{
        font-size: 17px;
    }
  
}
@media (max-width: 900px) and (orientation: landscape){
    .navbar{
        height: 5em;
        padding-top: 10px;
    }
    .dropdownButton{
        width: 220px;
        height: 50px;
        font-size: 17px;
    }
    .dropdownItems{
        width: 220px;
        top: 44px;
        padding-bottom: 10px;
    }
    .dropdownItemsButton{
        font-size: 17px;
    }
    .menuFiller{
        width: 220px;
    }
    .navImg{
        height: 45px;
        padding-top: 10px;
    }
    .issueBold{
        font-size: 17px;
    }
}

