.archiveContent{
    height: 100vh;

    display: flex;
    justify-content: center;

    text-align: center;
    vertical-align: middle;
    line-height: 100vh;
    
    overflow: hidden;
}

.titleBackdrop{
    z-index: 1;

    cursor: default;
    font-size: 400px;
}

.archImg{
    position: fixed;
    top: 44.5rem;
    left: 80rem;
}