.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #1E1E1E;
  color: white;
  padding-top: 4em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 4em;
}

.footerMiddleArchive {
  margin-bottom: 15px;
}

.footerCopyright{
  font-size: 11px;
}

.footerSocials{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 40px;
}

.menuSocialsButtonWhite{
  margin-right: 30px;
}

.footerRight{
  font-size: 34px;
  margin-top: 10px;
}

.footerRightPlaceholder{
  font-size: 21px;
  margin-top: 30px;
  border-bottom: 2px solid white;
  padding-bottom: 25px;
}

/* Tablet Styling */
@media (max-width: 900px) and (orientation: portrait){
    .footerImg{
      width: 70px;
    }
    .footerRight{
      font-size: 20px !important;
      margin-top: 0px;
    }
    .footerRightPlaceholder{
      margin-top: 10px;
    }
    .footerSocials{
      margin-top: 15px;
    }
    .footerSocialImg{
      width: 25px;
    }
}
@media (max-width: 1200px) and (orientation: landscape){
  .footerImg{
    width: 70px;
  }
  .footerRight{
    font-size: 20px !important;
    margin-top: 0px;
  }
  .footerRightPlaceholder{
    margin-top: 10px;
  }
  .footerSocials{
    margin-top: 15px;
  }
  .footerSocialImg{
    width: 25px;
  }
}

/*Phone Styling*/
@media (max-width: 430px) and (orientation: portrait){
  .footer{
    flex-direction: column;
  }
  .footerImg{
    width: 70px;
  }
  .footerRight{
    font-size: 20px !important;
    margin-top: 15px;
  }
  .footerRightPlaceholder{
    margin-top: 10px;
  }
  .footerMiddleArchive{
    margin-top: 10px;
  }
  .footerSocials{
    margin-top: 15px;
  }
  .footerSocialImg{
    width: 25px;
  }
}

@media (max-width: 900px) and (orientation: landscape){
 
}