.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #1E1E1E;
  color: white;
  padding-top: 6em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 6em;

  font-family: HelveticaTitle;
}

.footerMiddleArchive {
  margin-bottom: 15px;
  font-size: 28px;
}
.footerMiddleAboutRAW {
  margin-bottom: 15px;
  font-size: 28px;
}

.footerCopyright{
  font-size: 12px;
}

.footerSocials{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 40px;
}

.menuSocialsButtonWhite{
  margin-right: 30px;
}

.footerRight{
  font-size: 36px;
  margin-top: 10px;
}

.footerRightPlaceholder{
  font-size: 21px;
  margin-top: 30px;
  font-family: Bookmania;
  border-bottom: 2px solid white;
  padding-bottom: 15px;
}

/* Tablet Styling */
@media (max-width: 900px) and (orientation: portrait){
    .footerImg{
      width: 110px;
    }
    .footerRight{
      font-size: 15px !important;
      margin-top: 0px;
    }
    .footerRightPlaceholder{
      margin-top: 10px;
      font-size: 15px;
    }
    .footerMiddleArchive{
      font-size: 15px;
    }
    .footerMiddleAboutRAW{
      font-size: 15px;
    }
    .footerSocials{
      margin-top: 15px;
    }
    .footerSocialImg{
      width: 25px;
    }
}
@media (max-width: 1200px) and (orientation: landscape){
  .footerImg{
    width: 150px;
  }
  .footerRight{
    font-size: 20px !important;
    margin-top: 0px;
  }
  .footerRightPlaceholder{
    margin-top: 10px;
  }
  .footerSocials{
    margin-top: 15px;
  }
  .footerSocialImg{
    width: 25px;
  }
}

/*Phone Styling*/
@media (max-width: 430px) and (orientation: portrait){
  .footer{
    flex-direction: column;
    padding: 50px;
    padding-bottom: 70px;
  }
  .footerImg{
    width: 110px;
  }
  .footerRight{
    font-size: 20px !important;
    margin-top: 15px;
  }
  .footerRightPlaceholder{
    margin-top: 10px;
    font-size: 19px;
  }
  .footerMiddleArchive{
    margin-top: 10px;
  }
  .footerSocials{
    margin-top: 15px;
  }
  .footerSocialImg{
    width: 25px;
  }
  .footerCell{
    margin-bottom: 35px;
  }
}

@media (max-width: 900px) and (orientation: landscape){
  .footerImg{
    width: 110px;
    margin-top: 10px;
  }
  .footerCopyright{
    font-size: 10px;
  }
  .footerRight{
    font-size: 16px !important;
    margin-top: 15px;
  }
  .footerRightPlaceholder{
    margin-top: 10px;
    font-size: 15px;
  }
  .footerMiddleArchive{
    margin-top: 10px;
    font-size: 17px;
  }
  .footerMiddleAboutRAW{
    font-size: 17px;
  }
  .footerSocials{
    margin-top: 15px;
  }
  .footerSocialImg{
    width: 25px;
  }
  .footerCell{
    margin-bottom: 35px;
  }
}