.pageTurnerContainer{
    height: 30px;
    max-width: 70%;
    padding: 50px;
    padding-top: 130px;
    padding-bottom: 120px;

    display: flex;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;

}

.sideBtn{
    height: 53px;
    font-size: 30px;

    display: flex;
    justify-content: center;
    cursor: pointer;
}

.sideBtnArrow{
    text-align: center;
    vertical-align: middle;
    line-height: 57px;
}
.sideBtnName {
    text-align: center;
    vertical-align: middle;
    line-height: 53px;
    
    margin-left: 48px;
    margin-right: 48px;
}