.contentContainer{
    /* background-color: green; */
    height: 100vh;
    color: black;
}

.articleContainer{
    display: flex;
}

.season1 {
    --primary: rgba(255,0,0,1);
    --textPrimary: white;
    --navbarText: white;
}
