.contentContainer{
    color: black;
    height: 200px;
}

.articleContainer{
    font-size: 28px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    animation: 1s ease-in-out fadeIn;
}

.articleImgContainer{
    max-width:100%;
    height:auto;

    display: flex;
    justify-content: center;  
}

.img{
    max-width: 100%;
    height: auto;
}

.articleContent{
    max-width: 70%;
    margin-top: 25px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;

    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.photoCredits{
    font-size: 16px;
    margin-bottom: 5em;

    color: grey;
}

.articleCredits{
    margin-bottom: 0.6em;
    display: flex;
    justify-content: flex-start;
}

.articleAuthor{
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
}
.articleDate{
    font-size: 16px;
    line-height: 200%;
    margin-left: 23px;

    color: grey;
    vertical-align: center;
}
.articleTitle{
    font-size: 90px;
    margin-bottom: 0.5em;
}
.articleSubtitle{
    font-size: 70px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.articleQuote {
    display: block;
    padding: 0.01em;
    font-size: 45px;
    color: #F30B0B;
    border-left: 5px solid #F30B0B;
    padding-left: 50px;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
}

.pMargin{
    margin: 0;
    font-size: 32px;
}

.season1 {
    --primary: rgba(255,0,0,1);
    --textPrimary: white;
    --navbarText: white;
    --menuHover: #F584BD;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Tablet Styling */
@media (max-width: 900px) and (orientation: portrait){
    
    .articleContainer{
        font-size: 20px;
    }

    .articleContent{
        max-width: 100% !important;
    }

    .articleTitle{
        font-size: 82px;
    }
  
}
@media (max-width: 1200px) and (orientation: landscape){
    .articleContainer{
        font-size: 20px;
    }
    .articleContent{
        max-width: 90% !important;
    }
    .articleTitle{
        font-size: 82px;
    }
}

/*Phone Styling*/
@media (max-width: 430px) and (orientation: portrait){
    .articleContainer{
        font-size: 20px;
    }
    .articleContent{
        max-width: 90% !important;
    }
    .articleTitle{
        font-size: 40px;
    }
    .photoCredits{
        margin-bottom: 15px;
        font-size: 11px;
    }
    
    .articleAuthor{
        font-size: 15px;
    }
    .articleDate{
        font-size: 13px;
    }
}

@media (max-width: 900px) and (orientation: landscape){
    .articleContainer{
        font-size: 20px;
    }
    .articleContent{
        max-width: 90% !important;
    }
    .articleTitle{
        font-size: 40px;
    }
    .photoCredits{
        margin-bottom: 15px;
        font-size: 11px;
    }
    
    .articleAuthor{
        font-size: 15px;
    }
    .articleDate{
        font-size: 13px;
    }
}

