.contentContainer{
    color: black;
}

.articleContainer{
    font-size: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    animation: 1s ease-in-out fadeIn;
}

.articleImgContainer{
    max-width:100%;
    height:auto;

    display: flex;
    justify-content: center;  
}

.img{
    max-width: 100%;
    height: auto;
}
.mobileImg{
    display: none;
}

.articleContent{
    font-family: Bookmania;
    letter-spacing: -.25px;
    max-width: 67%;
    margin-top: 25px;
    margin-bottom: 200px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;

    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.articleCredits{
    font-family: HelveticaTitle;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
}

.articleAuthor{
    font-size: 20px;
    font-family: HelveticaTitle;
    font-weight: bolder;
    text-decoration: underline;
}

.articleSubtitle{
    font-size: 70px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.articleQuote {
    display: block;
    padding: 0.01em;
    font-size: 45px;
    color: #F30B0B;
    border-left: 5px solid #F30B0B;
    padding-left: 50px;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
}

.pMargin{
    margin: 0;
    font-size: 32px;
}

.lineBreak{
    margin-top: 120px;
    margin-bottom: 120px;
}

.seasonStyles {
    --primary: rgba(255,0,0,1);
    --textPrimary: white;
    --navbarText: white;
    --menuHover: #F584BD;
}

.boldedListen{
    font-size: 24px;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Tablet Styling */
@media (max-width: 900px) and (orientation: portrait){
    
    .articleContent{
        max-width: 90% !important;
    }
  
}
@media (max-width: 1200px) and (orientation: landscape){
 
    .articleContent{
        max-width: 80% !important;
    }
}

/*Phone Styling*/
@media (max-width: 430px) and (orientation: portrait){
    .articleContent{
        max-width: 100% !important;
        padding-left: 30px;
        padding-right: 30px;
    }
    .articleAuthor{
        font-size: 15px;
    }
    .articleDate{
        font-size: 13px;
    }
    .lineBreak{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .mobileImg{
        display: flex;
    }
    .img{
        display: none;
    }
    .boldedListen{
        font-size: 20px;
    }
}

@media (max-width: 900px) and (orientation: landscape){
    .articleContainer{
        font-size: 20px;
    }
    .articleContent{
        max-width: 90% !important;
    }
    .articleTitle{
        font-size: 40px;
        margin-bottom: 40px;
    }
    .photoCredits{
        margin-bottom: 15px;
        font-size: 11px;
    }
    .articleAuthor{
        font-size: 15px;
    }
    .articleDate{
        font-size: 13px;
    }
    .lineBreak{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .boldedListen{
        font-size: 20px;
    }
}