html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: black;

  --tabletPortrait: 900px;
  --tabletLandscape: 1200px;

  --phonePortrait: 430px;
  --phoneLandscape: 900px;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'HelveticaTitle';
  src: url('../public/fonts/HelveticaNeue-Medium.otf');
  }