html,
body {
  padding: 0;
  margin: 0;
  font-family: Bookmania, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: black;

  --tabletPortrait: 900px;
  --tabletLandscape: 1200px;

  --phonePortrait: 430px;
  --phoneLandscape: 900px;

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p{
  line-height: 165%;
  font-family: Bookmania;
  letter-spacing: -.25px;
  font-size: 24px;
}

b{
  font-family: HelveticaTitle;
  font-weight: 200
}

h1{
  font-size: 64px;
  margin-bottom: 50px;
  font-family: HelveticaTitle;
}


@font-face {
  font-family: 'HelveticaTitle';
  src: url('../public/fonts/HelveticaNeue-Medium.otf');
  }
@font-face {
  font-family: 'Bookmania';
  src: url('../public/fonts/BookmaniaLight.otf');
}
