@keyframes slideIn{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideOut{
    0%{
        opacity: 1;
        transform: translateX(0);
        z-index: 100;
    }
    90%{
        z-index: 100
    }
    100%{
        opacity: 1;
        transform: translateX(100%);
        z-index: -100;
    }
}

.menuContainer{
    width: 793px;
    height: 100%;

    padding-left: 100px;
    padding-top: 5rem;
    opacity: 0;

    top: 0;
    right: 0px;
    z-index: 100;

    display: flex;
    flex-direction: column;
    position: fixed;

    background-color: white;
    
}
.open{
    opacity: 1;
    animation: .2s ease-in-out slideIn;
}

.closed{
    animation: .2s ease-in-out slideOut;
    z-index: -100;
}

.disabled{
    color: grey !important;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.15;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 0.15;
    }
    100%{
        opacity: 0;
    }
}

.menuBackdrop{
    width: 100vw;
    height: 100%;
    
    top:0;
    position: fixed;
    opacity: 0;

    z-index: 50;

    background-color: black;
}
.backdropVisible{
    opacity: 0.15 !important;
    animation: .3s ease-in-out fadeIn;
}

.backdropInvisible{
    z-index: -100;
    animation: .3s linear fadeOut;
}

.menuButton{
    font-size: 115px;

    padding-bottom: 10px;
    cursor: pointer;
    
    background: none;
    border: none;

    text-align: left;

    color: var(--primary);
}

.menuButton:hover{
    color: var(--menuHover);
}

.menuSocialsContainer{
    bottom: 0;
    padding-bottom: 80px;

    display: flex;
    justify-content: flex-start;
    flex-grow: 4;

    align-items: flex-end;
}

.menuSocialsButton{
    margin-right: 2rem;
    background: none;
    border: none;
    
    cursor: pointer;
}

.img{
    width: 80px;
    height: 80px;
    margin-right: 1em;
}

.menuDiv{
    position: fixed;
    top: 0;
    right: 0;
    height: 56px;
    margin-right: 40px;
    padding-top: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    z-index: 200;
    text-align: center;
    border: none;
    background: none;

    cursor: pointer;
    
}

.menuBurger{

    width: 56px;
    height: 4px;
    
    border-radius: 5px;
    
    background-color: white;
    border: none;
    
    transition: all .2s ease-in-out;
}

/* Animation */
.menuDivOpen .menuBurger{
    background-color: var(--primary);
}

.menuDivOpen .burger1{
    transform: rotate(45deg) translate(10px, 10px);
}
.menuDivOpen .burger2{
    transform: rotate(-45deg) translate(2px, -4px);
}

/* Tablet Styling */
@media (max-width: 900px) and (orientation: portrait){
    
    .menuContainer{
        padding-left: 30px;
        width: 350px;
    }
    .menuButton{
        font-size: 60px;
    }
  
}
@media (max-width: 1200px) and (orientation: landscape){
    
    .menuContainer{
        padding-left: 30px;
        width: 400px;
    }
    .menuButton{
        font-size: 80px;
    }
  
}

/*Phone Styling*/
@media (max-width: 430px) and (orientation: portrait){
    
    .menuContainer{
        padding-left: 30px;
        width: 250px;
    }
    .menuButton{
        font-size: 40px;
    }
    .menuSocialsContainer{
        padding-bottom: 1rem !important;
    }
    .menuSocialsButton{
        margin-right: 0rem !important;
    }
    .img{
        width: 35px;
    }
  
}
@media (max-width: 900px) and (orientation: landscape){
    
    .menuContainer{
        padding-left: 30px;
        width: 300px;
    }
    .menuSocialsContainer{
        padding-bottom: 1rem !important;
    }
    .menuSocialsButton{
        margin-right: 0rem;
    }
    .menuButton{
        font-size: 40px;
    }
    .img{
        width: 35px;
    }
  
}
